<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishCycle | Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

<header class="navbar">
    <div class="header-left">
        <div class="logo">
            <a th:href="@{/wishcycle/homepage}" href="homepage.html">
                <img th:src="@{/images/WishCycle-Logo.png}" src="../static/images/WishCycle-Logo.png" alt="WishCycle Logo">
            </a>
            <span class="slogan">Wish for a better future</span>
        </div>
    </div>
    <nav class="main-nav">
        <a th:href="@{/wishcycle/homepage}" href="homepage.html" class="nav-link active">Home</a>
        <a th:href="@{/wishcycle/personal-wishcycles}" href="personal-wishcycles.html" class="nav-link">My WishCycles</a>
        <a th:href="@{/wishcycle/social-wishcycles}" href="social-wishcycles.html" class="nav-link">Social WishCycles</a>
        <a th:href="@{/wishcycle/about-us}" href="about-us.html" class="nav-link">About WishCycle</a>
    </nav>

    <nav class="auth-buttons">
        <a th:href="@{/wishcycle/login-page}" href="login-page.html" class="btn-login">Login</a>
        <a th:href="@{/wishcycle/signup-page}" href="signup-page.html" class="btn-signup">Sign Up</a>
        <a th:href="@{/wishcycle/user-profile}" href="user-profile.html" class="btn-profile">Profile</a>
    </nav>
</header>

<main>
    <div class="boards-container">
        <a th:href="@{/wishcycle/personal-wishcycles}" href="personal-wishcycles.html" class="board-box">
            <h2>My WishCycles</h2>
            <p>View your wishes</p>
        </a>

        <a th:href="@{/wishcycle/social-wishcycles}" href="social-wishcycles.html" class="board-box">
            <h2>Friends & Family WishCycles</h2>
            <p>View friends/family wishes</p>
        </a>
    </div>

    <section class="inspo-container">
        <div class="inspo-card">Inspo Placeholder</div>
        <div class="inspo-card">Inspo Placeholder</div>
        <div class="inspo-card">Inspo Placeholder</div>
    </section>
</main>

<footer class="main-footer">
    <div class="footer-content-minimal">
        <a th:href="@{homepage}" href="homepage.html">
            <img th:src="@{/images/WishCycle-Logo.png}" src="../static/images/WishCycle-Logo.png" alt="WishCycle Logo"
                 class="footer-logo">
        </a>
        <span class="footer-tag">@WishCycle 2026</span>
        <a th:href="@{about-us}" href="about-us.html" class="footer-link">About Us</a>
        <a href="#" class="footer-link">Terms</a>
        <a href="#" class="footer-link">Privacy</a>
        <a href="#" class="footer-link">Contact</a>
    </div>
</footer>

</body>
</html>