<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishCycle | Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="navbar">
    <div class="header-left">
        <div class="logo">
            <a th:href="@{/wishcycle/homepage(memberId=${memberId})}" href="homepage.html">
                <img th:src="@{/images/WishCycle-Logo.png}" src="../static/images/WishCycle-Logo.png" alt="WishCycle Logo">
            </a>
            <span class="slogan">Wish for a better future</span>
        </div>
    </div>
    <nav class="main-nav">
        <a th:href="@{/wishcycle/homepage}" href="homepage.html" class="nav-link">Home</a>

        <a th:href="@{/wishcycle/wishlists/{id}(id=${session.member.memberId})}" href="personal-wishcycles.html" class="nav-link active">My WishCycles</a>

        <a th:href="@{/wishcycle/social-wishlists/{id}(id=${session.member.memberId})}" href="social-wishcycles.html" class="nav-link">Social WishCycles</a>

        <a th:href="@{/wishcycle/about-us}" href="about-us.html" class="nav-link">About WishCycle</a>
    </nav>

    <nav class="auth-buttons">
        <a th:href="@{/wishcycle/login/profile/{id}(id=${session.member.memberId})}" href="user-profile.html" class="btn-profile">Profile</a>
    </nav>
</header>

<main class="content-wrapper">

    <div class="action-bar">
        <a th:href="@{/wishcycle/wishlists/new}" class="btn-action">
            <span class="icon">+</span> New Wishlist

        </a>
    </div>

    <div class="boards-container">
        <a th:each="wishlist : ${wishlists}"
           th:href="@{/wishcycle/wishlist/view/{id}(id=${wishlist.wishListId})}"
           class="board-box">

            <h2 th:text="${wishlist.wishListName}">Category Name</h2>

            <p th:text="${wishlist.getItems().size()} + ' Items'">
                0 Items
            </p>

            <span class="view-link">View Wishes →</span>
        </a>
    </div>

</main>

<footer class="main-footer">
    <div class="footer-content-minimal">
        <a th:href="@{/wishcycle/homepage}" href="homepage.html">
            <img th:src="@{/images/WishCycle-Logo.png}" src="../static/images/WishCycle-Logo.png" alt="WishCycle Logo"
                 class="footer-logo">
        </a>
        <span class="footer-tag">@WishCycle 2026</span>
        <a th:href="@{about-us}" href="about-us.html" class="footer-link">About WishCycle</a>
        <a th:href="@{/login-page}" href="login-page.html" class="footer-link">Log Out</a>
    </div>
</footer>

</body>
</html>